$color-dark: #303030;
$color-primary: #ffe990;

$border: 1px solid #303030;
$border-light: 2px solid #30303009;

$font: 'Source Sans Pro', sans-serif;
$content-heading: 600 2.4rem 'Source Sans Pro', sans-serif;
$content-body: 1.8rem 'Source Sans Pro', sans-serif;
$content-minor: 1.2rem 'Source Sans Pro', sans-serif;

$screen-large: 1200px;
$screen-medium: 1000px;
$screen-small: 800px;

$box-shadow: 1px 1px 3px 1px rgba(26, 26, 26, 0.099);

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media screen and (max-width: $screen-medium) {
        font-size: 55%;
    }

    @media screen and (max-width: $screen-small) {
        font-size: 50%;
    }
}

body {
    margin: 0;
    font-family: $font;
}

.centered {
    text-align: center;
}
