.button {
    cursor: pointer;
    padding: 0.6rem;
    width: 10rem;
    font-family: $font;
    font-size: 1.7rem;
    font-weight: 400;
    border: $border;
    border-radius: 2px;
    background-color: $color-primary;
    text-align: center;

    &:hover {
        border: none;
        border-left: $border;
        border-radius: 0;
        box-shadow: 5px 5px 18px -12px rgba(39, 39, 39, 0.801);
        font-weight: 600;
        background-color: #fff;
    }
}

.title {
    padding: 1rem 7rem;
    margin-bottom: 10rem;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background-color: $color-dark;
    border-bottom: $border;
    box-shadow: $box-shadow;

    &-right {
        text-align: right;
    }
}

.landing-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $screen-small){
        padding: 1rem 3rem;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        font-weight: 400;
        font-size: 1.8rem;
        padding-top: 0;
        margin-top: 0;
    }
}

.certificate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 7rem;

    @media screen and (max-width: $screen-medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $screen-small) {
        grid-template-columns: 1fr;
    }

    &__item {
        width: 80%;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: $box-shadow;
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem 3rem;

        @media screen and (max-width: $screen-medium) {
            height: 10rem;
            margin: 1rem 0;
        }

        p,
        h1 {
            padding: 0;
            margin: 0;
        }

        p {
            font: $content-minor;
        }

        h1 {
            font: $content-heading;
        }
    }

    img {
        width: 60%;
    }
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 7rem;
    margin-top: 14rem;

    @media screen and (max-width: $screen-small) {
        padding: 1rem 0;
        margin: 0 3rem;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        width: 49.5%;
        height: 20rem;
        margin: 0.5rem 0;

        @media screen and (max-width: $screen-small) {
            width: 100%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-left {
            align-items: center;
            width: 20%;
            margin-right: 0.2rem;
            padding: 1rem;
            font-size: $content-minor;
            font-family: $font;
            background-color: #2727270a;

            svg {
                font-size: 5rem;
                color: $color-primary;
            }
        }

        &-right {
            width: 80%;
            padding: 2rem;
            font: $content-body;
            background-color: #fff;
            border-bottom: $border-light;

            li {
                margin-bottom: 1rem;
                list-style-type: none;
            }
        }
    }
}

.accordion {
    padding-bottom: 3rem;
    margin: 0;

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7rem;
        font: $content-heading;
        background-color: #2727270a;

        &:hover {
            cursor: pointer;
        }
    }

    &__content {
        padding: 0.5rem 7rem;
        border-bottom: $border;
        font: $content-body;
        list-style-type: none;
        background-color: #fff;

        li {
            margin: 1rem 0;

            &:first-of-type {
                font: $content-minor;
            }
        }
    }
}

.portfolio-show {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 10rem;
    margin-bottom: 3rem;

    @media screen and (max-width: $screen-small) {
        justify-content: center;
        padding: 0 5rem;
    }

    &__item {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

        @media screen and (max-width: $screen-medium) {
            margin-bottom: 5rem;
        }

        @media screen and (max-width: $screen-small) {
            width: 100%;
            border-bottom: $border-light;
        }
    }

    &__img {
        margin-bottom: 2rem;
        width: 100%;
        height: 40rem;

        @media screen and (max-width: $screen-large) {
            height: 30rem;
        }

        @media screen and (max-width: $screen-small) {
            width: 100%;
            height: 50rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;

            @media screen and (max-width: $screen-small) {
                width: 100%;
                height: 80%;
            }
        }
    }

    &__details {
        height: 30rem;
        padding: 0.5rem;
        color: $color-dark;

        @media screen and (max-width: $screen-medium) {
            height: 40rem;
        }

        @media screen and (max-width: $screen-small) {
            height: 20rem;
        }

        h1 {
            width: fit-content;
            margin: 1rem 0;
            padding: 0.5rem;
            border: none;
            box-shadow: $box-shadow;
            border-radius: 2px;
            font: $content-heading;
            text-transform: uppercase;

            &:hover {
                border-radius: 0;
            }
        }

        p {
            padding-right: 10rem;
            font: $content-body;
            line-height: 3rem;
            font-weight: 500;

            @media screen and (max-width: $screen-large) {
                padding-right: 5rem;
            }

            @media screen and (max-width: $screen-medium) {
                padding-right: 3rem;
            }

            @media screen and (max-width: $screen-small) {
                padding-right: 0;
                line-height: 2rem;
            }
        }
    }
}

.blog-item {
    padding: 1rem 2rem;
    width: 18%;
    border-right: $border-light;
    font: $content-body;

    &:nth-of-type(1) {
        border-left: $border-light;
    }

    @media screen and (max-width: $screen-small) {
        width: 80%;
        border: none;
        border-bottom: $border-light;

        &:nth-of-type(1) {
            border-left: none;
            border-top: $border-light;
        }
    }

    &__title {
        font: $content-body;
    }

    &__content {
        font: $content-body;
        font-size: 1.5rem;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

    &__icon {
        margin-bottom: 1rem;
    }

    svg {
        padding: 0.5rem;
        font-size: 5rem;
    }
}
