.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    margin: .5rem 5rem;
    padding: 1rem;

    font-size: 1.8rem;
    color: $color-dark;
    background-color: #fff;
    border: $border;
    box-shadow: $box-shadow;

    @media screen and (max-width: $screen-small) {
        font-weight: 600;
        margin: .5rem 1.5rem;
        padding: 1.5rem;
    }

    &__main {
        text-transform: uppercase;
        margin: 0 1rem;
    }

    &__sub {
        margin-right: 1rem;
    }
}

.landing {
    min-height: 100vh;
    padding: 4rem 3rem 0 3rem;
    display: flex;
    justify-content: center;

    border-top: 0;

    @media screen and (max-width: $screen-small) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        padding-bottom: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    &__description {
        padding-left: 3rem;

        @media screen and (max-width: $screen-small) {
            width: 80%;
            padding: 5rem;
            text-align: center;
        }

        h1 {
            font-size: 5rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
            font-weight: 400;
            animation: bounce-in-top 3s both;
        }

        p {
            font-size: 1.8rem;
            margin-bottom: 3rem;
            width: 80%;
            animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            @media screen and (max-width: $screen-small) {
                width: 100%;
            }
        }

        .button {
            animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            @media screen and (max-width: $screen-small) {
                margin: auto;
            }
        }
    }

    &__image {
        align-items: center;
        animation: wobble-hor-bottom 3s ease-in;

        &:hover {
            animation: wobble-hor-bottom 3s ease-in-out infinite both;
        }

        @media screen and (max-width: $screen-small) {
            width: 100%;
        }

        img {
            width: 90%;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: $screen-medium) {
                width: 100%;
            }

            @media screen and (max-width: $screen-small) {
                width: 70%;
            }
        }
    }
}

.section {
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.competencies {
    &__summary {
        font: $content-body;
        font-style: italic;
        padding: 5rem 10rem;
        padding-top: 2rem;
        text-align: center;
    }
}

.blog {
    &__item {
        margin: 1rem;
        margin-bottom: 7rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    padding-top: 2rem;
    border-bottom: 0;

    p {
        font: $content-body;
        font-weight: 300;
        text-align: center;
    }

    svg {
        font-size: 3rem;
    }
}