.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    margin: 0.5rem 5rem;
    padding: 1rem;

    font-size: 1.8rem;
    color: $color-dark;
    background-color: #fff;
    border: $border;
    box-shadow: $box-shadow;

    @media screen and (max-width: $screen-small) {
        font-weight: 600;
        margin: 0.5rem 1.5rem;
        padding: 1.5rem;
    }

    &__main {
        text-transform: uppercase;
        margin: 0 1rem;
    }

    &__sub {
        margin-right: 1rem;
    }
}

.section {
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.competencies {
    &__summary {
        font: $content-body;
        font-style: italic;
        padding: 5rem 10rem;
        padding-top: 2rem;
        text-align: center;
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 7rem;

        img {
            width: 15%;
            
            @media screen and (max-width: $screen-small){
                width: 30%;
            }
        }
    }
}

.blog {
    &__item {
        margin: 1rem;
        margin-bottom: 7rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    padding-top: 2rem;
    border-bottom: 0;

    p {
        font: $content-body;
        font-weight: 300;
        text-align: center;
    }

    svg {
        font-size: 3rem;
    }
}
